.input-2 {
  width: 25%;
  margin: 0 15px 0 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  appearance: none;
  border-radius: 0.25rem;
  box-shadow: none !important;
}

.mar-5 {
  margin-right: 25px;
}

.mb-10 {
  margin-bottom: 100px;
}

.input-group:focus {
  box-shadow: none !important;
  border: #ffaf00 2px solid !important;
}

.input-2:focus {
  box-shadow: none !important;
  border: #ffaf00 2px solid !important;
}

.form-select:focus {
  box-shadow: none !important;
  border: #ffaf00 2px solid !important;
}

.btn-secondary {
  background-color: #b3b3b3 !important;
  border: none;
}

.back {
  position: absolute;
  width: 8px;
  margin: 4px 0;
}

.text-btn {
  margin-left: 18px;
}
