.inv {
  width: 138px;
  height: 138px;
  border: #ffaf00 4px solid;
  border-radius: 5px;
}

.badge-danger {
  background-color: #ff67672f;
  border-radius: 5px;
}

.badge-warning {
  background-color: #fff5672f;
  border-radius: 5px;
}

.mb-10 {
  margin-top: 155px;
}

.wd {
  padding: 10px 80px 10px 80px;
}

.hidden {
  display: none;
}
.pointerss {
  cursor: pointer;
}
